<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cocos2dx">

    <application>
        <activity
            android:name=".GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2djs" />

    </application>
</manifest>
